body {
  color: #4d4d4d;
}

#map {
  height: 100%;
  width: 100%;
}

#panel-detail {
  width: 400px;
  position: fixed;

  top: 70px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
  padding: 10px;
}

.panel-detail-close {
  left: -400px;
  transition: all ease 0.4s;
  opacity: 0;
}

.panel-detail-open {
  left: 30px;
  transition: all ease 0.6s;
  opacity: 1;
}

.slide-container {
  position: relative;
}

.slide-container a {
  cursor: pointer;
}

.image-container {
  position: relative;
  height: 250px;
}

#slide-image {
  display: block !important;
  padding: 0;
  margin: 0;
}

#slide-image li {
  display: block;
}

#slide-image li img {
  visibility: hidden;
  opacity: 0;
  transition: ease all 0.3s;

  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  max-height: 250px;
}

.slide-image-active img {
  visibility: visible !important;
  opacity: 1 !important;
  transition: opacity ease 0.7s;
}

.panel-content .heading {
  font-size: 1.5em;
  color: orangered;
  font-weight: 700;
}

.panel-content b {
  color: orangered;
}

#txt-star, .txt-star {
  color: orange;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.text-detail {
  font-size: 0.8em !important;
}

.slide-prev {
  position: absolute;
  left: -20px;
  top: 100px;
  padding: 4px 10px;
  border-radius: 10px;
  display: block;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  z-index: 2;
}

.slide-next {
  position: absolute;
  right: -20px;
  top: 100px;
  padding: 4px 10px;
  border-radius: 10px;
  display: block;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  z-index: 2;
}

.img-responsive {
  display: block;
  width: 100%;
  border-radius: 5px;
}

#nav {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 10px;
  z-index: 3;
  padding: 0 30px;
}

#nav .text-nav {
  float: right;
  padding: 10px;
}

#nav ul {
  display: block;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  margin: auto;
  border-radius: 5px;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
}

#nav ul li {
  padding: 10px;
  display: inline-block;
}

#about {
  position: fixed;
  top: -100px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: rgba(0,0,0,0.6);
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
}

.about-panel {
  width: 650px;
  margin: 6% auto;
}

.open-about {
  top: 0 !important;
  transition: all ease 0.3s;
  visibility: visible !important;
  opacity: 1 !important;
}
